@model LoginViewModel
@inject IViewLocalizer Localizer
@{
    Layout = "_Login";
    ViewData["Title"] = Localizer["Login"];
}
<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Login" asp-controller="User" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="UserName"></label>
        <div><span asp-validation-for="UserName" class="text-danger"></span></div>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <input asp-for="Password" class="form-control" />
    </div>
    <button style="margin:auto;display:block" class="btn btn-success" type="submit">@Localizer["LoginButton"]</button>
</form>

