@model ApplicationUser
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Myprofile"];
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">@Localizer["Myprofile"]</a>
        </li>
    </ol>
    <form>
        <div class="row">

            <div class="col-6 form-group">

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <div><span asp-validation-for="UserName" class="text-danger"></span></div>
                    <input asp-for="UserName" class="form-control" value=""/>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordHash"></label>
                    <div><span asp-validation-for="PasswordHash" class="text-danger"></span></div>
                    <input asp-for="PasswordHash" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div><span asp-validation-for="Email" aria-describedby="emailHelp" class="text-danger"></span></div>
                    <input asp-for="Email" class="form-control" />
                    <small id="emailHelp" class="form-text text-muted">@Localizer["emailhelp"]</small>
                </div>
            </div>

            <div class="col-6 form-group">

                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <div><span asp-validation-for="LastName" class="text-danger"></span></div>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <div><span asp-validation-for="PhoneNumber" class="text-danger"></span></div>
                    <input asp-for="PhoneNumber" class="form-control" />
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit"> @Localizer["Savechanges"]</button>
    </form>



</div>



